.wrapper {
  background-image: url("/assets/images/consultation__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @apply py-10 sm:py-20 my-[35px] sm:my-[45px] relative overflow-hidden;
}

.wrapper::before {
  content: "";
  display: block;
  width: 868px;
  height: 868px;
  border-radius: 100%;
  position: absolute;
  top: -50%;
  background: #fff;
  filter: blur(130.8999938964844px);
  opacity: 0.8;
  z-index: 0;

  @apply left-[5%] 2xl:left-[10%];
}

.heading {
  @apply font-bold text-xl md:text-2xl lg:text-3xl xl:text-4xl text-[#292929] sm:text-black mb-[10px] sm:mb-5;
}

.desc {
  @apply w-full font-medium text-base md:text-lg lg:text-xl leading-[130%] sm:leading-[133%] max-w-[600px] text-[#000];
}

.label {
  @apply font-medium text-base text-black mb-3;
}

.input {
  border: 1px solid rgba(185, 185, 185, 0.9);
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.4) !important;
  height: 50px;
}

.input input {
  color: black;
}

.input input::placeholder {
  color: black;
}

.button {
  @apply min-h-[50px] lg:h-[50px] lg:max-h-[50px];
}
